#m{
    width: 80%;
    font-size: 50px;
    margin-top: 80px;
    color: #4b4b4b;
    text-align: center;
    font: weight 20px;;
    margin: auto;
    padding-top: 70px; 
    font-family: MuseoSans-700,sans-serif; 
}
p {
    text-align: center;
    margin-top: 20px;
    font-family: MuseoSans-300,sans-serif;
    font-weight: bold;
    color: #4b4b4b;
    font-size: 18px;
}
#frist>div{
    width: 75%;
    margin: auto;
}
#frist>div>button{
    padding: 20px 40px;
    background-color: #f37e5d;
    color: azure;
    font-size: 20px;
    display: block;
    margin: auto;
    border: 0px;
    margin-top: 20px;
    border-radius: 5px;
}
#frist>div>img{
    width: 100%;

}
#frist>div>h2{
    font-family: MuseoSans-700,sans-serif; 
    text-align: center;

}
#fg>div{
    grid-template-columns:repeat(5,1fr);
}