#m{
    width: 80%;
    font-size: 50px;
    margin-top: 80px;
    color: #4b4b4b;
    text-align: center;
    font: weight 20px;;
    margin: auto;
    padding-top: 70px; 
    font-family: MuseoSans-700,sans-serif; 
}
#frist>div>p {
    text-align: center;
    margin-top: 20px;
    font-family: MuseoSans-300,sans-serif;
    font-weight: bold;
    color: #4b4b4b;
    font-size: 18px;
}
#frist>div{
    width: 75%;
    margin: auto;
}
#frist>div>button{
    padding: 20px 40px;
    background-color: #f37e5d;
    color: azure;
    font-size: 20px;
    display: block;
    margin: auto;
    border: 0px;
    margin-top: 20px;
    border-radius: 5px;
}
#frist>div>img{
    width: 100%;

}
#frist>div>h2{
    font-family: MuseoSans-700,sans-serif; 
    text-align: center;

}
#gride>div{ 
 display: grid;
    grid-template-columns: repeat(4,1fr); 
   
    justify-content: center;
}
#gride>div>div{
    padding: 10px;
}
#secand{
    
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
}
#secand>div{

    width: 80%;

    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    font-family: MuseoSans-700,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin-left: 10%;
}
#secand>div>ul{
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 170%;
}
.com{

width: 100%;
height: 20%;
border-radius: 5px;
}
.com+img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10%;
    margin-top: -8%;
    border-radius: 5px;
}#com{
    width: 20%;
    
    background-color: white;
    border-radius: 3px;
    
}
#maincom{
    padding: 40px;
    background-color: #f8f8f8;

}
h3+p{
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 170%;
}
ul+button{
    padding: 20px 30px;
    margin-left: 40px;
    margin-top: 20px;
    color: #f37e5d;
    background-color: #eebdaf;
    border: none;border-radius: 3px;

}#part3>h2+p{
    text-align: center;
}
#third{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    padding: 50px 50px;

}
#third>div{

    width: 90%;
    height: 85%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 0px;

}
h4{
    text-align: center;
    font-size: 24px; 
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #4b4b4b;
    
    line-height: 170%;
    margin-top: 20px;
}
#third>div>p{
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 170%;

}
#third>div>h2{
    font-family: MuseoSans-700,sans-serif; 
    text-align: center;
 font-size: 50px;
 color: #4b4b4b;
 margin-top: -5%;

}
#third>div>img{
    width: 40%;
     margin-left: 20%;

}
#part3>p{
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 170%;
}
#futer>div{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
#futer>div>div>a{
    display: block;
  text-decoration: none;
  font-size: 14px;
  
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #4b4b4b;
  font-family: MuseoSans-700,sans-serif;
  

}
#futer>div>div{
    padding: 20px 10px;
}
h5{
    
    font-size: 14px; 
    font-family: MuseoSans-300,sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.last{
    width: 30%;
    margin: auto;
    padding: 20px 20px;
}
.last>a{
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 200%;

}
.last>img{
    width: 70%;
    display: block;
    margin: auto;

}
#last{
    width: 30%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 20px 20px;
    
}
#last>div{
    display: flex;
    width: 30%;
   
}
#last>div>img{
    width: 80%;
    height: 80%;
}
#count>div{
    width: 100%;
    background-color: #f37e5d;
    padding: 60px 0px;
}
#count>div>h3{
    text-align: center;
    margin-left: -4%;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}
#count>div>button{
    display: block;
    margin: auto;
    padding: 15px 20px;
    color: #f37e5d;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
@media all and (min-width: 501px) and (max-width: 1000px){
    #gride>div{ 
    
           grid-template-columns: repeat(2,1fr); }
           #futer>div{
            grid-template-columns: repeat(2 ,1fr);
           }     
} 
@media all and (min-width: 100px) and (max-width: 500px){
    #gride>div{ 
    
        grid-template-columns: repeat(1,1fr); }


    #third{grid-template-columns: repeat(1,1fr);}

    #secand{
        grid-template-columns: repeat(1,1fr);
    }
    #futer>div{
        grid-template-columns: repeat(1 ,1fr);
       }    
}